/* Tailwind v4 single import */
@import "tailwindcss";

/* app tweaks */
:root { color-scheme: light;
 }
 body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

/* أضف هذا الكود في ملف index.css أو App.css */

.custom-checkbox {
  /* هذه هي الخاصية الأهم لتغيير اللون */
  accent-color: black; 
  
  /* مقاسات إضافية لجعله يبدو أفضل */
  height: 1.25rem; /* 20px */
  width: 1.25rem;  /* 20px */
}